{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Computer Networks Segundo Semestre <br />
    Avenida Rudge, 315, Barra Funda, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    (11) 3254-8300
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Rafael@faculdadeimpacta.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@computernetworks.com.br</a>
</address>

{% endblock %}
